<app-header></app-header>
<div class="row main">
  <div class="col l10 offset-l1">
    <div class="row">
      <div class="col l12">
        <a class="btn-floating waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a>
        <a class="btn-floating waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a>
        <div class="chip btn-flat">
          Tagging tag
          <i class="close material-icons">close</i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l12">
        <app-carousal></app-carousal>
      </div>
    </div>
    <div class="row">
      <div class="col l3">
        <p>Accordion</p>
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body">
              <form action="#">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Red</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" checked="checked" />
                    <span>Yellow</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Filled in</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input id="indeterminate-checkbox" type="checkbox" />
                    <span>Indeterminate Style</span>
                  </label>
                </p>
              </form>
            </div>
          </li>
          <li class="active">
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body">
              <form action="#">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Red</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" checked="checked" />
                    <span>Yellow</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Filled in</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input id="checkbox" type="checkbox" />
                    <span>Indeterminate Style</span>
                  </label>
                </p>
              </form>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>
      <div class="col l6">
        <div class="row">
          <app-search-box></app-search-box>
          <app-date-picker></app-date-picker>
        </div>
        <div class="row">
          <div class="col l6">
            <app-card></app-card>
          </div>
          <div class="col l6">
            <app-card></app-card>
          </div>
          <div class="col l6">
            <app-card></app-card>
          </div>
          <div class="col l6">
            <app-card></app-card>
          </div>
        </div>
      </div>
      <div class="col l3">
        <p>Accordion</p>
      </div>
    </div>
  </div>
</div>
<div class="fixed">
  <app-fixedplugin></app-fixedplugin>
</div>
<app-footer></app-footer>
