<div class="navbar-fixed z-depth-2">
  <nav>
    <div class="row">
      <div class="col l10 s12 offset-l1 nav-wrapper">
        <a routerLink="/home" class="brand-logo">Logo</a>
        <a routerLink="home" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/home">About</a></li>
          <li><a routerLink="/attakorah">Attakorah</a></li>
          <li><a routerLink="/home">Services</a></li>
          <li><a routerLink="/home">Hermann</a></li>
          <li><a routerLink="/home">Components</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/home">About</a></li>
    <li><a routerLink="/home">Attakorah</a></li>
    <li><a routerLink="/home">Services</a></li>
    <li><a routerLink="/home">Future Dev</a></li>
    <li><a routerLink="/home">Components</a></li>
  </ul>
</div>
