<div class="carousel carousel-slider z-depth-2">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <a class="carousel-item" href="#one!"><img src="../../../assets/img/banner1.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="../../../assets/img/banner2.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="../../../assets/img/banner3.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="../../../assets/img/template.jpeg"></a>
</div>
